@import url('https://fonts.googleapis.com/css?family=Simonetta&display=swap');

body{
    display: flex;
    background-color: gainsboro;
    justify-content: space-evenly;
    align-content: flex-start;
    padding: 0 300px 0 0;
    color: whitesmoke;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: darkslategray;
    text-align: center;
    font-family: 'Simonetta', cursive;
    box-sizing: border-box;
    border: darkslategray solid 2px;
    border-radius: 60px;
    box-shadow: 6px 6px 25px 25px rgba(0,0,0,0.18);
    height: 100vh;
    width: 700px;
}

h1 {
    color: lightpink;
    font-size: 50px;
} 

img{
    height: 90px;
    width: 90px;
}

ul{
    text-align: center;
}

li {
    text-decoration: none;
    list-style: none;
    padding: 3px;
}

input {
    background-color: darkgray;
    border: lightpink 1px solid;
    border-radius: 5px;
    height: 25px;
    width: 250px;
    padding: 5px;
    margin: 3px;
}

::placeholder{
    color: darkslategray;
}

.inputButton{
    background-color: darkgray;
    color: darkslategray;
    border: lightpink 2px solid;
    border-radius: 5px;
    height: 35px;
    width: 80px;
}

.navBar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
    font-family: 'Simonetta', cursive;
    color: darkslategray;
}

a{
    text-decoration: none;
    color: darkslategray;
}